{% extends "base.html" %}

{% block content %}
    <h1 class="mt-5">About</h1>
    <p>This app makes use of the following libraries</p>
    <ul>
        <li><i class="fas fa-flask"></i> <a href="http://flask.pocoo.org/">Flask</a></li>
        <li><i class="fas fa-database"></i> <a href="http://flask-sqlalchemy.pocoo.org/">Flask-SQLAclhemy</a></li>
        <li><i class="fab fa-wpforms"></i> <a href="https://flask-wtf.readthedocs.io">Flask-WTF</a></li>
        <li><i class="fab fa-wpforms"></i> <a href="https://wtforms.readthedocs.io">WTForms</a></li>
    </ul>
{% endblock %}