{% extends "base.html" %}

{% block content %}
    <h1 class="mt-5">About</h1>
    <p>This app makes use of the following libraries</p>
    <ul>
        <li><i class="fas fa-flask"></i> <a href="http://flask.pocoo.org/" target="_blank">Flask</a></li>
        <li><i class="fas fa-database"></i> <a href="http://flask-sqlalchemy.pocoo.org/" target="_blank">Flask-SQLAclhemy</a></li>
        <li><i class="fab fa-wpforms"></i> <a href="https://flask-wtf.readthedocs.io" target="_blank">Flask-WTF</a></li>
        <li><i class="fab fa-wpforms"></i> <a href="https://wtforms.readthedocs.io" target="_blank">WTForms</a></li>
        <li><a href="https://pythonhosted.org/Flask-Testing/" target="_blank">Flask-Testing</a></li>
        <li><i class="fas fa-key"></i> <a href="https://passlib.readthedocs.io/en/stable/" target="_blank">passlib</a></li>
        <li><i class="fas fa-server"></i> <a href="http://gunicorn.org/" target="_blank">gunicorn</a></li>
        <li><i class="fas fa-eye"></i> <a href="https://pythonhosted.org/blinker/" target="_blank">blinker</a></li>
        <li><a href="http://nose.readthedocs.io/en/latest/" target="_blank">nose</a></li>
        <li><i class="fas fa-chart-pie"></i> <a href="https://pypi.python.org/pypi/nose-cov" target="_blank">nose-cov</a></li>
    </ul>
{% endblock %}