{%- import 'macros.html' as macros -%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>CI Demo - Linux stack</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <script defer src="{{ url_for('static', filename='font-awesome/js/fontawesome-all.min.js') }}"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">CI Demo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('dashboard') }}">
                            <i class="fas fa-home"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('workshop') }}">
                            <i class="fas fa-code"></i>
                            Workshop goal
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('my_workshop') }}">
                            <i class="fas fa-book"></i>
                            My Workshop
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">
                            <i class="fas fa-info"></i>
                            About
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        {%- block content -%}{%- endblock -%}
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Simple demo application for the CI workshop. Built with <i class="fas fa-heart"></i> in Belgium.</span>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='jquery/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
